@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #E5E4E2;
    background-image: url('/static/images/ava2.png');
    background-repeat: no-repeat;
    background-position-x: 1150px;
    background-position-y: 220px;
    background-size: 520px
}

#horizontal-line{
    width : 50%;
    height: 7px;
    border: 0 none;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 90px;
    background-color: #36454F;
}

h1 {
    color: #36454F;
    font-size: 100px;
    margin-right: 910px;
    margin-left: 20px;
    font-family: Arial black, Helvetica, sans-serif;
}

p {
    color: #36454F;
    font-size: 20px;
    margin-right: 950px;
    margin-left: 20px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    margin-top: 80px;
    margin-right: 900px;
    margin-left: 20px;
}
.btn {
    background-color: #E1B7D0;
    color: white;
    padding: 25px 70px;
    margin: 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 50px;
}
.btn:hover {
    background-color: #DC98C0;
}

.button {
    margin-top: 100px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
    display: flex;

}

.btn1{
    color: #36454F;
    margin-right: 220px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #E5E4E2;
    border: #F9E8C9;
    font-size: 30px;
}

.btn2{
    color: #36454F;
    margin-right: 240px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #E5E4E2;
    border: #F9E8C9;
    font-size: 30px;
}

.btn3{
    color: #36454F;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #E5E4E2;
    border: #F9E8C9;
    font-size: 30px;
}

.btn1:hover{
    color: #A9A9A9;
}

.btn2:hover{
    color: #A9A9A9;
}
.btn3:hover{
    color: #A9A9A9;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 60px;
  overflow: hidden;
  background: #E5E4E2;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  color: #36454F;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #36454F;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: white;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #36454F;
}
.wrapper .button:nth-child(2) span{
  color: #36454F;
}
.wrapper .button:nth-child(3) span{
  color: #36454F;
}
.wrapper .button:nth-child(4) span{
  color: #36454F;
}
.wrapper .button:nth-child(5) span{
  color: #36454F;
}
