/* Center the container on the page */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #E5E4E2;
    background-image: url('/static/images/ava7.png');
    background-size: 600px;
    background-position-x: 900px;
    background-position-y: 120px;
    background-repeat: no-repeat;
}

h1{
    color: #36454F;
    font-size: 55px;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: 850px;
    text-align: center;
    font-family: Arial black, Helvetica, sans-serif;
}

h2{
    font-size: 35px;
    color: #1e1b3a;
}

/* Container for the login form */
.container {
    background-color: #A9A9A9;
    padding: 30px;
    border-radius: 35px;
    width: 340px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 2);
    margin-right:660px;
    margin-left: 320px;
}

/* Form elements */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
}

.btn{
    color: black;
    font-weight: bold;
}

button.btn {
    width: 50%;
    background-color: #E5E4E2;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

button.btn:hover {
    background-color: #A9A9A9;
}

/* Optional link style */
a {
    text-decoration: none;
    color: #4CAF50;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 14px;
}

a {
    color: black;
}

.eyecon{
    position: fixed;
    width: 35px;
    cursor: pointer;
    right: 1240px;
    top: 505px;
}
